# Ejercicio Python
##  Karen Gaona, Ana Mereles & Mariela Navarro

###  Declara Librerías

In [1]:
import pandas as pd
import io
import requests
import matplotlib.pyplot as plt

###  1.  Importa bases

In [2]:
url_test = "https://s3-ap-southeast-1.amazonaws.com/av-datahack-datacamp/test.csv"
s_test = requests.get(url_test).content
test = pd.read_csv(io.StringIO(s_test.decode('utf-8')))


url_train = "https://s3-ap-southeast-1.amazonaws.com/av-datahack-datacamp/train.csv"
s_train = requests.get(url_train).content
train = pd.read_csv(io.StringIO(s_train.decode('utf-8')))

### 2.  Descripción de variables

####  &nbsp; Tabla 2.1 - Test

| Nombre | Descripción | Posibles Valores | Tipo de Dato | 
| :----: | :---------: | :--------------: | :----------: | 
| Loan_ID | x | x | x | 
| Gender | x | x | x | 
| Married | x | x | x | 
| Dependents | x | x | x | 
| Education | x | x | x | 
| Self_Employed | x | x | x | 
| ApplicantIncome | x | x | x | 
| CoapplicantIncome | x | x | x | 
| LoanAmount | x | x | x | 
| Loan_Amount_Term | x | x | x | 
| Credit_History | x | x | x | 
| Property_Area | x | x | x | 

####  &nbsp; Tabla 2.2 - Train

| Nombre | Descripción | Posibles Valores | Tipo de Dato | 
| :----: | :---------: | :--------------: | :----------: | 
| Loan_ID | x | x | x | 
| Gender | x | x | x | 
| Married | x | x | x | 
| Dependents | x | x | x | 
| Education | x | x | x | 
| Self_Employed | x | x | x | 
| ApplicantIncome | x | x | x | 
| CoapplicantIncome | x | x | x | 
| LoanAmount | x | x | x | 
| Loan_Amount_Term | x | x | x | 
| Credit_History | x | x | x | 
| Property_Area | x | x | x | 
| Loan_Status | x | x | x |

### 7.  Crosstab

**- ¿Le otrogan más Créditos a las mujeres que a los hombres?**

In [3]:
pd.crosstab(train["Gender"],train["Loan_Status"],margins=False,normalize='index')

Loan_Status         N         Y
Gender
Female       0.330357  0.669643
Male         0.306748  0.693252

*R =  No, en la tabla anterior se observa que el sexo no es una variable que discrimine el otorgamiento de los Créditos ya que se le otorgan créditos al mismo porcentaje de hombres que de mujeres.*

<br>

**- ¿Es más fácil que se otorgue un crédito si se tiene historial crediticio?**

In [4]:
pd.crosstab(train["Credit_History"],train["Loan_Status"],margins=False,normalize='index')

Loan_Status            N         Y
Credit_History
0.0             0.921348  0.078652
1.0             0.204211  0.795789

*R =  Si, en la tabla anterior se observa que al 80% de las personas que tienen historial crediticio se les otorga el Crédito mientras que únicamente al 7% de las personas que no tienen historial crediticio se les otorga un crédito.*